# Flutter
build/
.dart_tool/
.packages
.pub-cache/
.pub/

# Firebase (DO NOT UPLOAD KEYS)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
